### 1. Import du fichier csv

In [90]:
import pandas as pd
import numpy as np

dataframe = pd.read_csv('liste-des-musees-de-france-2021.csv', encoding='latin-1', on_bad_lines='skip', delimiter=";")
dataframe.head()

,osm_id,name,number,street,postal_code,city,country,country_code,lat,lon,website,email,phone,fax,tags,description,date_added,wikidata
0,4540234591,3 bis f,109,Avenue du Petit Barthélémy,13617.0,Aix-en-Provence,France,fr,43.521207,5.439875,http://www.3bisf.com,contact@3bisf.com,3.344216e+10,NaN,osm:museum;art:art contemporain,NaN,"44116,0076388889",NaN
1,4388745689,A casa di Losari,NaN,T 30,20226.0,Belgodère,France,fr,42.638732,9.007660,NaN,NaN,NaN,NaN,osm:museum,NaN,"43338,9393981481",NaN
2,4426176194,À l'homme volant,35,Grande Rue,72300.0,Sablé-sur-Sarthe,France,fr,47.839656,-0.334043,NaN,NaN,3.324395e+10,NaN,osm:museum;type:centre d'interpretation,NaN,"42644,4636574074",NaN
3,7652598615,Abbadiale - Maison des arts,NaN,Rue du Gabizos,65400.0,Arras-en-Lavedan,France,fr,42.990826,-0.128057,https://www.abbadiale.fr/,NaN,3.363317e+10,NaN,osm:museum,NaN,"44120,0466782407",NaN
4,121580330,Abbaye,NaN,Rue de l'Abbaye,39210.0,Château-Chalon,France,fr,46.753866,5.624296,NaN,NaN,NaN,NaN,osm:museum;art:architecture,NaN,"43102,5491898148",NaN

### 2. Questions du manager

In [91]:
#modification du dataframe pour répondre au manager
dfManager = dataframe[['osm_id','city','name','country','tags','website','postal_code']]
#Ajout d'une colonne pour compter les musées
dfManager['number_museum'] = 1
#Création d'une colonne departmenet_number même si j'arrive pas à le transformer en integer avec .astype(int) qui devrait fdonctionner selon stack overflow
dfManager['department_number'] = dfManager['postal_code'].astype(str).str[:2]

dfManager.head(3)

C:\Users\Jocelyn\AppData\Local\Temp\ipykernel_8520\2952896674.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfManager['number_museum'] = 1
C:\Users\Jocelyn\AppData\Local\Temp\ipykernel_8520\2952896674.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfManager['department_number'] = dfManager['postal_code'].astype(str).str[:2]

,osm_id,city,name,country,tags,website,postal_code,number_museum,department_number
0,4540234591,Aix-en-Provence,3 bis f,France,osm:museum;art:art contemporain,http://www.3bisf.com,13617.0,1,13
1,4388745689,Belgodère,A casa di Losari,France,osm:museum,NaN,20226.0,1,20
2,4426176194,Sablé-sur-Sarthe,À l'homme volant,France,osm:museum;type:centre d'interpretation,NaN,72300.0,1,72

#### Combien y-a-t-il de musées en France métropolitaine ?

In [92]:
dfFranceMetro = dfManager.loc[dfManager['country'] == 'France']
dfFranceMetro['number_museum'].sum()

3776

#### Dans quelle(s) ville(s) y-a-t-il de plus de musées ?

In [93]:
dfByCity = dfManager[['number_museum','city']].groupby('city').sum().sort_values('number_museum', ascending=False)
dfByCity

                   number_museum
city
Paris                        175
Lyon                          33
Marseille                     28
Grenoble                      22
Toulouse                      20
...                          ...
La Chaise-Dieu                 1
La Celle                       1
La Cassagne                    1
La Cadière-d'Azur              1
Île-de-Sein                    1

[2295 rows x 1 columns]

#### Quel est le nombre moyen de musées par ville ?

In [94]:
dfByCity.mean()

number_museum    1.64793
dtype: float64

#### Quel est le nombre médian de musées par ville ?

In [95]:
dfByCity.median()

number_museum    1.0
dtype: float64

#### Comment sont répartis les musées par type (en pourcentage) ?

In [96]:
#diviser une colonne en plusieurs (censé être 2 mais il y e na 5) avec le séparateur ";"
dfType = dfManager

dfType[['tags','type','wtf3','wtf4','wtf5']] = dfType['tags'].str.split(';',expand=True)


# dfByDpt = dfManager[['number_museum','department_number']].groupby('department_number').sum()
# display(dfByDpt.sort_values('number_museum', ascending=False))

C:\Users\Jocelyn\AppData\Local\Temp\ipykernel_8520\1302492565.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfType[['tags','type','wtf3','wtf4','wtf5']] = dfType['tags'].str.split(';',expand=True)
C:\Users\Jocelyn\AppData\Local\Temp\ipykernel_8520\1302492565.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfType[['tags','type','wtf3','wtf4','wtf5']] = dfType['tags'].str.split(';',expand=True)
C:\Users\Jocelyn\AppData\Local\Temp\ipykernel_8520\1302492565.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfType[['tags','type','wtf3','wtf4','wtf5']] = dfType['tags'].str.split(';',expand=True)
C:\Users\Jocelyn\AppData\Local\Temp\ipykernel_8520\1302492565.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfType[['tags','type','wtf3','wtf4','wtf5']] = dfType['tags'].str.split(';',expand=True)
C:\Users\Jocelyn\AppData\Local\Temp\ipykernel_8520\1302492565.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfType[['tags','type','wtf3','wtf4','wtf5']] = dfType['tags'].str.split(';',expand=True)

#### Combien y-a-t-il de musées dont le nom commence par "Château" ?

In [97]:
dfChateau = dfManager[['name', 'number_museum']].loc[dfManager['name'].str[:7] == 'Château']
len(dfChateau)

57

#### Pour combien de musées dispose-t-on de l'adresse du site web ?

In [98]:
dfWeb = dfManager[['website', 'number_museum']].loc[dfManager['website'].notna() == True]
len(dfWeb)

1636

#### Quel département français possède le plus de musées sur son territoire ?

In [99]:
dfByDpt = dfManager[['number_museum','department_number']].groupby('department_number').sum()
display(dfByDpt.sort_values('number_museum', ascending=False))

                   number_museum
department_number
75                           180
59                            97
33                            94
71                            91
13                            90
...                          ...
93                            14
23                            11
90                            10
48                             9
98                             8

[88 rows x 1 columns]

#### Quel département français possède le moins de musées sur son territoire ?

In [100]:
dfByDpt = dfManager[['number_museum','department_number']].groupby('department_number').sum()
display(dfByDpt.sort_values('number_museum'))

                   number_museum
department_number
98                             8
48                             9
90                            10
23                            11
93                            14
...                          ...
13                            90
71                            91
33                            94
59                            97
75                           180

[88 rows x 1 columns]

#### Combien de musées ont "Napoléon" dans leur nom ?